/* stylelint-disable */

@import "tailwindcss";

@theme {
  --color-fprimary: #040c6c;
  --color-primary: #5F6FFF;

  --grid-template-columns-auto: repeat(auto-fit, minmax(200px, 1fr));
}

.active hr{
  @apply block
}

::-webkit-scrollbar{
  @apply hidden
}

